.no-scroll {
	overflow: hidden;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flex-start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.85);
	z-index: 1;
	visibility: hidden;
	opacity: 0;
}
.modal-overlay.open {
	visibility: visible;
	opacity: 1;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
}
.close:hover {
	cursor: pointer;
}
.close span {
	position: absolute;
	top: 15px;
	display: block;
	width: 100%;
	height: 4px;
	background: #666;
	margin-bottom: 5px;
	-webkit-transition: all .3s;
		transition: all .3s;
}
.close:hover span {
	background: #fff;
}
.close .first {
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}
.close .second {
	-webkit-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,.3);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.search-form {
	margin-bottom: 2.5%;
}

.search-results {
	margin: auto;
	max-width: 72%;
}

.search-result {
	position: relative;
	margin: 0 2vw 3vw 2vw
}

.search-result .result {
	width: 20vw;
	height: 47.5vh;
}

.search-result:hover {
	cursor: pointer;
	background: rgba(0,0,0,0);
}

.selected-movie {
	position: relative;
	width: 60%;
	margin: auto;
}

.heart {
	cursor: pointer;
	fill: rgba(102,102,102,.25);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.heart:hover {
	fill: rgba(255, 0, 0, .25);
}
.heart.liked {
	fill: rgba(255, 0, 0, 1);
	-webkit-animation: pulse .75s;
	        animation: pulse .75s;
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.3); transform: scale(1.3); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

.selected-movie-details {
	position: relative;
	width: 50%;
	background: #fff;
	padding: 15px;
}

.loading {
	width: 50%;
}
.loading img {
	width: 25%;
	display: block;
	margin: auto;
}

.search-terms,.favorites {
  position: absolute;
  padding: 10px;
  border: 1px solid #666;
	border-left: none;
}
.search-terms {
	top: 0;
	border-top: none;
}
.favorites {
	top: 250px;
	border-top: none;
}
.favorite-title {
	cursor: pointer;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.favorite-title:hover {
	text-decoration: underline;
}


