h1 {
	margin: 0;
}

.no-scroll {
	overflow: hidden;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flex-start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}


.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.85);
	z-index: 15;
	visibility: hidden;
	opacity: 0;
}
.modal-overlay.open {
	visibility: visible;
	opacity: 1;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	z-index: 10;
}
.close:hover {
	cursor: pointer;
}
.close span {
	position: absolute;
	top: 15px;
	display: block;
	width: 100%;
	height: 4px;
	background: #666;
	margin-bottom: 5px;
	-webkit-transition: all .3s;
		transition: all .3s;
}
.close:hover span {
	background: #fff;
}
.close .first {
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}
.close .second {
	-webkit-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,.3);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.title-block {
	padding-top: 25px;
}
.title-block h1 {
	font-size: 10vw;
}

.search-form {
	margin-bottom: 2.5%;
}

.search-results {
	margin: auto;
	max-width: 72%;
}

.search-result {
	position: relative;
	margin: 0 2vw 3vw 2vw
}

.search-result .result {
	width: 20vw;
	height: 47.5vh;
}

.search-result:hover {
	cursor: pointer;
	background: rgba(0,0,0,0);
}

.selected-movie {
	position: relative;
	width: 60%;
	margin: auto;
}

.heart {
	cursor: pointer;
	fill: rgba(102,102,102,.25);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.heart:hover {
	fill: rgba(255, 0, 0, .25);
}
.heart.liked {
	fill: rgba(255, 0, 0, 1);
	-webkit-animation: pulse .75s;
	        animation: pulse .75s;
}

.selected-movie-details {
	position: relative;
	width: 50%;
	background: #fff;
	padding: 15px;
}

.loading {
	width: 50%;
}
.loading img {
	width: 25%;
	display: block;
	margin: auto;
}

.sidebar-container {
	position: fixed;
	top: 0;
	left: -230px;
	width: 300px;
	height: 100vh;
	background: #fff;
	border-right: 1px solid	#666;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
}
.sidebar-container.no-content {
	left: -300px;
}
.hamburger	{
	position: absolute;
	top: 1%;
	right: 0;
	padding: 5%;
	cursor: pointer;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
	transition:	all .5s ease-in-out;
}
.hamburger span {
	display: block;
	height: 5px;
	width: 40px;
	background: #000;
	position: relative;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.hamburger .first {
	top: 0;
}
.hamburger .middle {
	top: 5px;
}
.hamburger .last {
	top: 10px;
}
.sidebar-content {
	overflow-y: scroll;
	position: absolute;
	width: 80%;
	height: 100vh;
	z-index: 5;
	background:	rgba(255,255,255,1);
	top: 55px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.sidebar-container.open {
	left: 0;
}
.sidebar-container.open .hamburger {

}
.sidebar-container.open .hamburger .first {
	top: 10px;
	-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
}
.sidebar-container.open .hamburger .middle {
	opacity: 0;
}
.sidebar-container.open .hamburger .last {
	top: 0;
	-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
}
.sidebar-container.open .sidebar-content {
	left: 0;
}
.search-terms,.favorites {
  position: relative;
  padding: 10px 0 0 25px;
  letter-spacing: .075em;
}
.search-terms h3,.favorites h3 {
	text-transform: uppercase;
}
.search-terms {
	top: 0;
}
.favorites {
	top: 0;
}
.favorite-title {
	width: 70%;
	cursor: pointer;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.favorite-title:hover {
	text-decoration: underline;
}

.notification {
	position: absolute;
	bottom: 5%;
	right: 5%;
	color: #fff;
	opacity: 0;
	z-index: 15;
	-webkit-transition: all .3s;
	transition: all .3s
}
.notification p {
	margin: 0;
	padding: 20px 15px;
}
.notification.success {
	background: green;
	opacity: 1;
}
.notification.danger {
	background: red;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	input {
		border: none;
		border-bottom: 1px solid #000;
	}

	.search-results {
		max-width: 75%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.search-result {
		width: 49.5%;
		margin: 0 0 1%;
	}
	.search-result .result {
		width: 100%;
		height: 40vh;
		margin: 0;
	}

	.selected-movie {
		width: 95%;
	}

}

@media screen and (max-width: 668px) {
	.sidebar-container {
		width: 75%;
		left: -60%;
		border: none;
    background: rgba(255,255,255,0);
	}
	.hamburger {
		border-right: none;
		padding: 3%;
	}
	.sidebar-content {
		background: transparent;
		border-right: none;
		top: 35px;
		left: -45%;
		width: 100%;
	}
	.sidebar-container.open {
		background: rgba(102,102,102,.98);
	}
	.sidebar-container.open .hamburger span {
		background: #fff;
	}
	.sidebar-container.open .sidebar-content {
		width: 100%
	}

	.search-terms,.favorites {
		color: #fff;
	}

	.title-block {
		padding-top: 8px;
	}

	.search-results {
		max-width: 100%;
	}

	.selected-movie {
		width: 96%;
	}
	.selected-movie-details,.selected-movie-image {
		width: 100%;
	}
	.selected-movie-image {
		display: none;
	}

}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.3); transform: scale(1.3); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.3); transform: scale(1.3); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
